:global .CodeMirror {
  height: 100% !important;
  font-family: 'Source Code Pro', monospace !important;
  font-size: small;
}

:global .react-codemirror2 {
  /* resize: vertical !important; */
  height: 100% !important;
}
